/* Global Css */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.pt_130 {
    padding-top: 130px;
}


/* Banner Section Css Start */

.banner {
    padding: 230px 230px 165px 0;
    background: url("../assets/images/banner3.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.banner_content_wrapper {
    text-align: right;
    max-width: 520px;
}

.banner_title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.banner_description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.banner_btn {
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #005FAC;
    padding: 20px 25px;
    background-color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #fff;
    transition: 0.4s;
}

.banner_btn:hover {
    color: #fff;
    background-color: transparent;
}

/* Banner Section Css End */



/* About Section Css Start */

.about {}

.about_content_wrapper {
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.about_image_col {
    flex-basis: 50%;
}

.about_text_col {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.about_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 24px;
}

.about_description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}

.failur_list {
    list-style: none;
}

.failur_list li {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 8px;
}

.failur_list li i {
    font-size: 18px;
    margin-right: 10px;
    color: #16D887;
}

/* About Section Css End */



/* Plan Section Css Start */

.plan {}

.plan_section_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #151414;
}

.plans_wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.plan_box {
    flex-grow: 1;
    text-align: center;
}

.plan_box img {
    height: 92px;
    display: inline-block;
    margin-bottom: 24px;
}

.plan_title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #151414;
    margin-bottom: 16px;
}

.plan_details {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}

/* Plan Section Css End */



/* Portfolio Section Css Start */

.portfolio_section {}

.portfolio_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #151414;
    margin-bottom: 50px;
}

.portfolio_wraper {}

.portfolio_category {
    max-width: 450px;
    margin: 0 auto 60px;
}

.portfolio_category ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.portfolio_category ul li{
    display: inline-block;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    transition: 0.4s;
    position: relative;
}

.portfolio_category ul li::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    margin: auto;
    background-color: #005FAC;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.4s;
}

.portfolio_category ul li:hover::after{
    width: 100%;
    transform-origin: center center;
}

.portfolio_category ul li:hover{
    color: #005FAC;
    cursor: pointer;
}
.active{
    color: #005FAC;
}

.active::after{
    content: "";
    position: absolute;
    width: 100% !important;
    height: 2px;
    margin: auto;
    background-color: #005FAC;
    bottom: 0;
    left: 0;
    right: 0;
}

.portfolios {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: space-between;
    align-items: start;
}

.portfolio_item {
    max-width: 48%;
}

.item_hover_box{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.portfolio_item>img {}

.item_title_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    backdrop-filter: blur(7px);
    background: rgba(255, 255, 255, 0.48);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    position: absolute;
    bottom: 15px;
    left: 30px;
    right: 30px;
    transform: translateY(100px);
    transition: 0.4s;
    opacity: 0;
}

.item_hover_box:hover > .item_title_box{
    transform: translateY(0px);
    opacity: 1;
}

.item_title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 5px;
    background: -webkit-gradient(linear, left top, right top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));
    background: -webkit-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
    background: -o-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.item_sub_title {
    opacity: 0.7;
    margin: 0 5px;
    line-height: 1.2;
}

/* Portfolio Section Css End */



/* CAT CSS Start */

.cta {
    padding: 130px 0;
}

.cta .container {
    padding: 60px 64px;
    border-radius: 8px;
    background: url(../assets/images/watch.png), linear-gradient(to right, #005FAC, #005fac00);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

.cta_content_wrapper {
    max-width: 560px;
}

.cta_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.cta_btn {
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #005FAC;
    padding: 20px 25px;
    background-color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #fff;
    transition: 0.4s;
}

.cta_btn:hover {
    color: #fff;
    background-color: transparent;
}

/* CAT CSS End */


/* Footer Css Start */

footer {
    padding: 130px 0;
    background-color: #151414;
}

.footer_content_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_content {
    max-width: 485px;
}

.footer_title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;
    margin-bottom: 16px;
}

.footer_details {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.mb_24 {
    margin-bottom: 24px;
}

.social_media {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 16px;
    margin-top: 32px;
}

.social_media li {}

.social_media li img {}

.newsletter {
    max-width: 325px;
}

.newsletter_title {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 31px;
}

#nl_email {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #F3F3F3;
    border: none;
    background-color: transparent;
    outline: 1px solid #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 16px;
}

#nl_email:focus {
    outline-color: #005FAC;
}

.nl_submit_btn {
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    padding: 20px 25px;
    background-color: #005FAC;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #005FAC;
    transition: 0.4s;
}

.nl_submit_btn:hover {
    color: #005FAC;
    background-color: transparent;
}

/* Footer Css End */