/* Global Css */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.pt_130 {
    padding-top: 130px;
}


/* Banner Section Css Start */

.banner {
    padding: 230px 230px 165px 0;
    background: url("../assets/images/banner3.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.banner_content_wrapper {
    text-align: right;
    max-width: 520px;
}

.banner_title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.banner_description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.banner_btn {
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #005FAC;
    padding: 20px 25px;
    background-color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #fff;
    transition: 0.4s;
}

.banner_btn:hover {
    color: #fff;
    background-color: transparent;
}

/* Banner Section Css End */



/* About Section Css Start */

.about {}

.about_content_wrapper {
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.about_image_col {
    flex-basis: 50%;
}

.about_text_col {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.about_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 24px;
}

.about_description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}

.failur_list {
    list-style: none;
}

.failur_list li {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 8px;
}

.failur_list li i {
    font-size: 18px;
    margin-right: 10px;
    color: #16D887;
}

/* About Section Css End */



/* Plan Section Css Start */

.plan {}

.plan_section_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #151414;
}

.plans_wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.plan_box {
    flex-grow: 1;
    text-align: center;
}

.plan_box img {
    height: 92px;
    display: inline-block;
    margin-bottom: 24px;
}

.plan_title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #151414;
    margin-bottom: 16px;
}

.plan_details {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}

/* Plan Section Css End */



/* CAT CSS Start */

.cta {
    padding: 130px 0;
}

.cta .container {
    padding: 60px 64px;
    border-radius: 8px;
    background: url(../assets/images/watch.png), linear-gradient(to right, #005FAC, #005fac00);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

.cta_content_wrapper {
    max-width: 560px;
}

.cta_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.cta_btn {
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #005FAC;
    padding: 20px 25px;
    background-color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #fff;
    transition: 0.4s;
}

.cta_btn:hover{
    color: #fff;
    background-color: transparent;
}

/* CAT CSS End */